<h1>Uploading images with Google Cloud Bucket</h1>

<form id="create-form" enctype="multipart/form-data" method="POST">
    <input id="name" type="text" placeholder="Name of photo"/>
     <input id="userImg" name="userImg" type="file">
              <div class="ui icon button">
                <i class="attach icon"></i>
         </div>
    <button type="submit">Submit</button>
</form>

<script src="/assets/js/index.js"></script>